//colors
$body: #444;
$hyperlink: #0066cc;
$hyperlinkHover: #2288ee;
$hyperlinkVisited: #bb88ee;
$accentColor: #D41;

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
  line-height: 1.6em;
  color: $body;
  a {
    border-bottom: 1px dotted $hyperlink;
    color: $hyperlink;
    text-decoration: none;
  }
  a:hover {
    color: $hyperlinkHover;
    border-bottom: 1px dotted $hyperlinkHover;
  }
}

a.selected {
  $color: $accentColor;
  color: $color;
  border-bottom: 1px dotted $color;
}
a:hover.selected {
  $color: lighten($accentColor, 10%);
  color: $color;
  border-bottom: 1px dotted $color;
}
a.selectedReverse {
  $color: darken($accentColor, 20%);
  color: $color;
  border-bottom: 1px dotted $color;
}
a:hover.selectedReverse {
  $color: darken($accentColor, 10%);
  color: $color;
  border-bottom: 1px dotted $color;
}

table {
  width: 100%;
}
