//colors
$body: #444;
$hyperlink: #0066cc;
$hyperlinkHover: #2288ee;
$hyperlinkVisited: #bb88ee;
$accentColor: #D41;
$scoreColor1: #FFD5D8;
$scoreColor2: #FFF6CD;
$scoreColor3: #D9EACA;
$scoreColor4: #BCDDA1;
$scoreColor5: #FDC131;
$scoreColor5Foreground: #480000;

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
  line-height: 1.6em;
  color: $body;
  a {
    border-bottom: 1px dotted $hyperlink;
    color: $hyperlink;
    text-decoration: none;
  }
  a:hover {
    color: $hyperlinkHover;
    border-bottom: 1px dotted $hyperlinkHover;
  }
}

a.logo {
  border-bottom: 0px;
}
a:hover.logo {
  border-bottom: 0px;
}

a.selected {
  $color: $accentColor;
  color: $color;
  border-bottom: 1px dotted $color;
}
a:hover.selected {
  $color: lighten($accentColor, 10%);
  color: $color;
  border-bottom: 1px dotted $color;
}
a.selectedReverse {
  $color: darken($accentColor, 20%);
  color: $color;
  border-bottom: 1px dotted $color;
}
a:hover.selectedReverse {
  $color: darken($accentColor, 10%);
  color: $color;
  border-bottom: 1px dotted $color;
}

table {
  width: 100%;
}

td.score1 {
  text-align: center;
  background-color: $scoreColor1;
  color: black;
}
td.score2 {
  text-align: center;
  background-color: $scoreColor2;
  color: black;
}
td.score3 {
  text-align: center;
  background-color: $scoreColor3;
  color: black;
}
td.score4 {
  text-align: center;
  background-color: $scoreColor4;
  color: black;
}
td.score5 {
  text-align: center;
  background-color: $scoreColor5;
  color: $scoreColor5Foreground;
}
