.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
  line-height: 1.6em;
  color: #444; }
  .content a {
    border-bottom: 1px dotted #0066cc;
    color: #0066cc;
    text-decoration: none; }
  .content a:hover {
    color: #2288ee;
    border-bottom: 1px dotted #2288ee; }

@media (max-width: 580px) {
  .pure-table {
    font-size: 75%;
  }
}

@media (max-width: 480px) {
  .pure-table {
    font-size: 60%;
  }
}

a.logo {
  border-bottom: 0px; }

a:hover.logo {
  border-bottom: 0px; }

table {
  width: 100%; }

td.score1 {
  text-align: center;
  background-color: #FFD5D8;
  color: black; }

td.score2 {
  text-align: center;
  background-color: #FFF6CD;
  color: black; }

td.score3 {
  text-align: center;
  background-color: #D9EACA;
  color: black; }

td.score4 {
  text-align: center;
  background-color: #BCDDA1;
  color: black; }

td.score5 {
  text-align: center;
  background-color: #FDC131;
  color: #480000;
  font-weight: bold; }

.arrow {
  color: grey;
  font-size: small; }
