.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
  line-height: 1.6em;
  color: #444; }
  .content a {
    border-bottom: 1px dotted #0066cc;
    color: #0066cc;
    text-decoration: none; }
  .content a:hover {
    color: #2288ee;
    border-bottom: 1px dotted #2288ee; }

table {
  width: 100%; }
